/* font-family: 'AlexBrushRegular'; */

body {
	background: #fff;
	margin: 0;
	margin-left: 0;
}

.myname {
	margin-left: 3%;
	position: relative;
}

.col-sm-4 a:link {
	text-decoration: none;
}

.currenttime p {
	font-family: 'DancingScriptRegular'; 
   font-weight: normal; 
   font-style: normal; 
}

.mainpart #grad1 {
	position: relative;
	width: 100%;
	height: 500px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(227,245,235), rgb(250,210,206)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(227,245,235), rgb(250,210,206)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(227,245,235), rgb(250,210,206)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(227,245,235), rgb(250,210,206)); /* Standard syntax (must be last) */
}

.mainpart p {
	position: absolute;
	top:  40%;
	padding-left: 20%;
	width: 100%;
}

.mainpart h1 {
	position: absolute;
	top: 45%;
	padding-left: 20%;
	width: 50%;
	font-size: 20px;
	font-family: 'UniqueRegular'; 
	font-weight: normal; 
	font-style: normal;
	line-height: 35px;
	color: 
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}





