body {
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: Georgia, Palatino, serif;
    width: 100%;
}

h1.name {
    font-style: italic;
    font-size: 60px;
    text-align: center;
}


ul {
    list-style-type: none;
    background-color: #F6CED8;
    width: 100%;
}

a:link {
    color: black;
}

a:visited {
    color: blue;
}

a:hover {
    color: hotpink;
}

a:active {
    color: red;
}

li.hornav {
    display: inline;
}

li {
    text-align: center;
    float: left;
    color: black;
    position: relative;
}

li a {
    margin: 0;
    display: block;
    padding: 20px 50px;
    background-color: #FBEFF8;
}

.dropbtn {
    background-color: #FBEFF8;
    margin: 0;
    display: block;
    padding: 20px 50px;
    border: none;
    font-style: normal;
    font-size: 16px;
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FBEFF8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    margin: 0;
    display: block;
    padding: 20px 50px;
    background-color: #FBEFF8;
}

.dropdown-content a:hover {background-color: #FBEFF8}

.dropdown:hover .dropdown-content {
    display: block;
}

/* -------------------------CS 135/* ------------------------- */





