body {
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: Georgia, Palatino, serif;
}

h1.name {
    font-style: italic;
    font-size: 60px;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FBEFF8;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: grey;
}

a:hover {
    color: hotpink;
}

a:active {
    color: red;
}

.dropbtn {
    background-color: #FBEFF8;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FBEFF8}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FBEFF8;
}

/* --------------------- CS 135 --------------------- */
ul.subnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 110px;
    position: fixed;
}

li a.subnav {
    display: block;
    background-color: #dddddd;
}


.tree {
    background-image: url("tree.gif");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}

.courseheader {
    text-align: center;
    background: url("course.jpg");
    background-repeat: no-repeat;
    background-size: 870px 300px;
    margin-top: 0;
}

.solidbox {
    background-color: #FBEFF8;
    width: 200px;
    padding: 25px;
    border: 25px solid pink;
    margin: 25px;
    margin-left: 140px;
    margin-top: 5px;
}

.split {
    margin-left: 50px;
    border-left: 1px;
}



